.figureBox{
    left:10px;
    width: 60%;
    min-width: 720px;
    display: block;
    flex-direction: column;
    overflow: hidden; 
    border: 4px solid rgb(241, 237, 237);
    padding: 20px;

  }